* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color:#f3f2f9;
}


header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px;
    font-family: 'Major Mono Display', monospace;
    color:rgb(0, 0, 0);
}

header h1 {
    /* display: inline-block; */
    font-size: 25px;
    text-align: center;
}


header nav {
    font-family: 'Major Mono Display', monospace;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 10px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-width: 300px;
}

li {
    display: inline-block;
    /* margin-left: 25px; */
}

nav a {
    display: inline;
    float: left;
    font-weight: bold;
}

li a {
    display: block;
    padding: 14px 16px;
    color:rgba(0, 0, 0, 0.514);
    text-decoration: none;
}

li a:hover {
    color:rgb(0, 0, 0);
    font-size: 22px;
    box-shadow: inset 0px 0px 8px var(--heliotrope), 0 0 15px var(--heliotrope);
}

section h1 {
    text-align: center;
}

.info {
    color:rgb(0, 0, 0);
    font-size: 20px;
}

div h3:hover {
    color:rgb(0, 0, 0);
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    box-shadow: inset 0px 0px 8px var(--heliotrope), 0 0 15px var(--heliotrope);
}

.details h2 {
    margin-bottom: 20px;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(241, 130, 3);
}

p {
    font-size: 15px;
    color:rgba(0, 0, 0, 0.514);
    text-decoration: none;
    font-weight:bolder;
    text-shadow:rgb(0, 0, 0);
    font-family: 'Iceland', cursive;
    padding: 20px;
}

.info {
    width: 100%;
    display: inline-block;
    margin: 10px;
    justify-content: center;
}

.page-area {
    margin: 30px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    flex-direction: column;
}

#about-me, #work-area, #contact-me {
    font-family: 'Major Mono Display', monospace;
}

.work-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.work-container ul {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.work-container ul li {
    font-size: 15px;
    margin-right: 0.5rem;
    padding: 10px;
    color:rgba(0, 0, 0, 0.514);
}

.work-item {
    background-size: 150%;
    font-size: 16px;
    min-height: 200px;
    max-height: 200px;
    flex-basis: calc(50% - 16px);
    display: flex;
    align-items: flex-end;
    padding: 20px;
    margin: 8px;
    text-decoration: none;
    color:rgb(0, 0, 0)
}

a {
    color:rgb(0, 0, 0);
}

figure {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
}

img {
    border-radius: 60px;
}

.work-item:first-child {
    background-size: 100%;
    min-height: 500px;
    flex-basis: 100%;
} 

#web-development {
    background-image: url("https://images.unsplash.com/photo-1482053450283-3e0b78b09a70?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
}

#branding {
    background-image: url("https://cdn.pixabay.com/photo/2021/08/18/19/26/background-6556414_960_720.jpg");
}

#illustration {
    background-image: url("https://cdn.pixabay.com/photo/2017/09/06/14/38/background-2721729_960_720.jpg");
}

#UXUI-design {
    background-image: url("https://cdn.pixabay.com/photo/2014/09/17/11/09/triangles-449373_960_720.jpg");
}

#portrait {
    background-image: url("https://cdn.pixabay.com/photo/2022/08/25/04/30/smoke-7409257_960_720.jpg");
}

@media screen and (min-width: 576px) {
    header h1 {
        text-align: left;
        font-size: 40px;
    }
}

@media screen and (min-width: 768px) {
    header {
        flex-direction: row;
    }

    section {
        padding-right: 0;
    }

    section h1 {
        text-align: left;
    }

    aside {
        width: 100%;
        text-align: center;
    }

    .work-container ul {
        justify-content: space-between;
    }

    .work-container ul li {
        margin-right: 1rem;
}
}